h1, h2, h3, h4 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: rgb(11, 11, 145);
}

*{
    box-sizing: border-box;
    position: relative;
}

.column{
    float:center;
    width: 80%;
    height: 80%;
    padding: 10px;
    
    
}

.row ::after{
   
    clear: both;
    display: table;
}
.projectTitle {
    bottom: 15px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 20pt;
}

/* Sidebar */
.sidebar {
	display:run-in;
	width: 50em;
	padding: 20px;
	margin: 50px 0 0 50px;
	vertical-align: center;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.sidebar h2 {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #dddddd;
}

.sidebar ul li {
	display:grid;
	margin: 20;
	padding: 2;
	-webkit-transition: all .2s;
	-webkit-transition-timing-function: ease-out;
	transition: all .5s;
	transition-timing-function: ease-out;

}

.sidebar ul li:hover {
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.social img {
	width: 100px;
	height: 100px;
}


footer {
	position:static;
	left: 10;
	bottom: 100;
	width: 100%;
    padding:0px;
    padding-bottom: 1cm;
	text-align: center;
	font-size:medium;
	color: #cccccc;
	background-color:floralwhite;
	border-top: 7px solid rgb(179, 192, 155);
}